@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
}

nav {
    font-size: 40px;
    font-weight: 700;
    padding: 30px;
    background-color: #1b3f5a;
    width: calc(100% - 300px);
    text-align: center;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1 {
    padding: 45px;
    background-color: #1b3f5a;
    font-size: 30px;
}

#box{
    background-color: whitesmoke;
    color: #000;
    margin:25px 0;
    padding:15px;
    width: calc(100% - 600px);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.buttons {
    display: flex;
    justify-content: center; /* Center-align buttons horizontally */
    margin-top: 25px;
}

.buttons button {
    color: #ffffff;
    background-color: rgb(0, 150, 243);
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin-top: 25px;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.buttons button:hover {
    background-color: #1b3f5a;
}

.buttons .topic1 {
    background-color: #00d1b2;
}

.buttons .topics3 {
    background-color: #ffcc00;
}

.buttons .topics5 {
    background-color: #ff6b6b;
}

.buttons .topics10 {
    background-color: #a8a8a8;
}
.buttons .webtemplate {
    margin-top: -20px;
    background-color: #a8a8a8;
    font-size: 20px;
}
